<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css')}}">
<!-- <link rel="stylesheet" href=style.css> -->
</head>
<style>
.container .card
{
	width: 320px;
	height: 425px;
	margin: 20px;
	padding: 40px 30px;
	background: #ebf5fc;
	border-radius: 40px;
	box-shadow: -6px -6px 20px rgba(255,255,255,1),6px 6px 20px rgba(0,0,0,0.1);

}
</style>

  <body>
  <!-- <h1 style="font-family: Luna;font-size: 20px;margin-top: 3%;">Air Quality Index [ AQI ] Prediction</h1>
    <form action="{{ url_for('Linear')}}"method="post">
      <br><br><br>
      <h3>
      <a  href = "{{ url_for('Linear')}}"</a>Linear
      <br> <a href = "{{ url_for('Decision')}}"</a>Decision tree
      <br><a href = "{{ url_for('KNN')}}"</a>KNN
      </h3>
    </form>

  <h1> 
    {{ prediction_text }}
  </h1> -->

	<div class="container">
		<div class="home">
			<a href="  {{ url_for('home')}}  "> <h1> 
				<!-- the fucntion name(from app.py) has to be kept for redirection -->
				<img src="{{ url_for('static', filename='svg/home.svg' ) }}" alt="linearsvg">
			</h1></a>
		</div>
		<div class="title">
			<h1>Know Us</h1>
		</div>
		<div class="about">
			<a href="  {{ url_for('about')}}  "> <h1>
				<img src="{{ url_for('static', filename='svg/about.svg' ) }}" alt="linearsvg">
			</h1></a>
		</div>
		<div class="card">
			<div class="imgBx">
				<img src="{{ url_for('static', filename='svg/SaiCharan.svg' ) }}" alt="linearsvg">
				
			</div>
			<div class="contentBx">
				<h2>Sai Charan</h2>
				<p>16E31A063</p>
				<a href=" {{ url_for('Linear')}} "><span>Use Me</span></a>
			</div>
		</div>
		<div class="card">
			<div class="imgBx">
				<img src="{{ url_for('static', filename='svg/Santosh.svg' ) }}" alt="decisionsvg">
				
			</div>
			<div class="contentBx">
				<h2>Santosh Kulkarni</h2>
				<p>16E31A099</p>
				<a href="https://linktr.ee/santxsh"><span>Use Me</span></a>
			</div>
		</div>
		<div class="card">
			<div class="imgBx">
				<img src="{{ url_for('static', filename='svg/Munaif.svg' ) }}" alt="knnsvg">
				
			</div>
			<div class="contentBx">
				<h2>Shaik Munaif</h2>
				<p>16E31A0A0.</p>
				<a href=" {{ url_for('KNN')}} "><span>Use Me</span></a>
			</div>
		</div>
		<!-- <div class="card">
			<div class="imgBx">
				<img src="{{ url_for('static', filename='svg/randomsvg.svg' ) }}" alt="randomsvg">
				
			</div>
			<div class="contentBx">
				<h2>Random Forest</h2>
				<p> Random forest algorithm creates decision trees on data samples and then gets the prediction from each of them and finally selects the best solution by means of voting. It is an ensemble method.</p>
				<a href=" {{ url_for('RForest')}} "><span>Use Me</span></a>
			</div>
		</div> -->
		<!-- <div class="card">
			<div class="imgBx">
				<img src="{{ url_for('static', filename='svg/linearsvg.svg' ) }}" alt="linearsvg">
				
			</div>
			<div class="contentBx">
				<h2>Lasso Regression</h2>
				<p> Lasso is a regression analysis method that performs both variable selection and regularization in order to enhance the prediction accuracy and interpretability.  </p>
				<a href=" {{ url_for('Lasso')}} "><span>Use Me</span></a>
			</div>
		</div> -->
	</div>
</body>
</html>
